@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


.test55{
    display: flex;
}

/* .test44{
    position: relative;
    top: 15rem;
} */

.div-background-image{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 30vw;
    background-size:contain;
}

.div-text-h1-accueil{
    width: 50%;
}

.text-accueil{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3rem;
    padding: 9rem;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .section-savoirFaire-accueil{
        position: relative;
        top: 5rem;
    }

    .div-background-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size:cover;
    }

    .text-accueil{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size:2rem;
        margin-top: 35%;
        padding: 1rem;
    }

    .div-text-h1-accueil{
        width: 100%;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .section-savoirFaire-accueil{
        position: relative;
        top: 5rem;
    }

    .div-background-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size:cover;
    }

    .text-accueil{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size:3rem;
        margin-top: 25%;
        padding: 1rem;
    }

    .div-text-h1-accueil{
        width: 100%;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .section-savoirFaire-accueil{
        position: relative;
        top: 5rem;
    }

    .div-background-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size:cover;
    }

    .text-accueil{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size:3rem;
        margin-top: 15%;
        padding: 7rem;
    }

    .div-text-h1-accueil{
        width: 100%;
    }   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .section-savoirFaire-accueil{
        position: relative;
        top: 5rem;
    }

    .div-background-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size:cover;
    }

    .text-accueil{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size:3rem;
        margin-top: 11%;
        padding: 7rem;
    }

    .div-text-h1-accueil{
        width: 100%;
    }     
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .section-savoirFaire-accueil{
        position: relative;
        top: 5rem;
    }

    .div-background-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-size:cover;
    }

    .text-accueil{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size:5rem;
        margin-top: 11%;
        padding: 7rem;
    }

    .div-text-h1-accueil{
        width: 60%;
    }  
}