
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }


.all{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem!important;
}

.link-nav{
    font-style: none;
    color: gray;
}

.div-container-navbar{
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

 .div-select>select>.form-control{
    width: auto !important;
}


@media screen and (max-width: 1200px) {
    .all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem!important;
    }
  }