
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }


.all{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem!important;
}


.div-container-navbar{
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}

 .div-select>select>.form-control{
    width: auto !important;
}

.navbar-custom{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.div-container-navbar{
    z-index: 200!important;
}

.ul-list{
list-style-type: none;
}

.link-li{
    padding: 1rem;
}

.link-li a{
    color:#343a40!important;
    font-size: 1.3rem;
    text-decoration: none;
}


/* Large devices (desktops, 1199.98px and upn) */
@media screen and (min-width: 991.98px) {

    .div-ul{
        justify-content: flex-end;
    }
    
    .div-ul .mr-auto{
        margin-right: 0px!important;
    }
    .container-navbar{
        width: 100%;
    }

    .link-desktop{
        margin-left: 1rem;
    }

    .link-desktop a,
    .navbar-brand{
        /* color:#343a40!important; */
        color:#fff;
        font-size: 1.1rem;
        text-decoration: none;
    }

    .navbar-brand{
        font-size:1.5rem;
    }

}



@media screen and (max-width: 1200px) {
    .all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem!important;
    }

  }