
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
  }




.all{
    display: flex;
    justify-content: flex-end;
}

.link-nav{
    font-style: none;
    color: gray;
}

.test3{
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}