.demo-text{
    width: 50%;
    margin-right: 5%;
    padding-bottom: 1px;
}

.all-demo{
    display: flex;
}

.demo-img{
    width: 50%;
    margin-right: 5%;
    padding-bottom: 1px;
}

.demo-title{
    
   /*  background-color: grey; */
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1px;
}

.demo-title-text{
/*     text-align: left;
    padding-left: 10%; */
    color: white;
/*     text-decoration: underline; */
}

.img-demonstration{
    width:100%;
}

.section-demonstration-accueil{
    background-color: #cebc81;
}

.text-subtitle-demonstration{
    font-weight: 600;
}



@media screen and (max-width:767px) {


.all-demo{
    display: flex;
    flex-direction: column;
}
.demo-text{
    width: 100%;
    
}



.demo-img{
    width: 100%;
    
}

}