body {
  padding-top: 20px;
}

.rounded-0{
  margin-top: 2rem;
}

.card-header {
  padding:0;

}

.div-active {
  display: block;
  z-index: 9999;
  background-color: #d4edda;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #c3e6cb;
}

.text-alert-success {
  color: #155724;
}

.div-desactive {
  display: none;
}

.div-active-error {
  display: block;
  z-index: 9999;
  background-color:#f8d7da;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #f5c6cb;
}

.text-alert-error {
  color: #721c24;
}

.div-desactive-error {
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.formulaire-contact label{
  font-size: x-large;
}
}