body {
  padding-top: 20px;
}

body {
  padding-top: 20px;
}

.div-active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-desactive {
  display: none;
}
