.test1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;
}

.div-img-spe{
    width: 100%;
}


.tl-card{
    width: 40%;
}

.size-img{
    width: 100%;
}

.div-title-specialisation{
    background-color:grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1px;
}

.title-specialisation{
    text-align: left;
    padding-left: 10%;
    color:white;
    text-decoration: underline;
}


@media screen and (max-width:767px) {

    .test1{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 30px;
    }
    
    .tl-card{
        width: 100%;
    }
    
    .size-img{
        width: 100%;
    }
    
    .div-title-specialisation{
        background-color:grey;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 1px;
    }
    
    .title-specialisation{
        text-align: left;
        padding-left: 10%;
        color:white;
        text-decoration: underline;
    }
    
    
    }





