
.div-img-specialisation{
    width:100%;
}

.img-specialisation{
    width:30%;
}

.div-title-specialisation{
    background-color:grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1px;
}

.title-specialisation{
    text-align: left;
    padding-left: 10%;
    color:white;
    text-decoration: underline;
}

.container-specialisation-card{
    margin-right:0!important;
    margin-left:0!important;
}




