.container-header-solution-kroco{
    display: flex;
    padding: 1rem;
}

.div-logo-solution-kroco{
    width:50%;
}

.img-logo-page-solution-kroco{
    width:100%; 
}

.div-titre-page-solution-kroco{
    display: flex;
    align-items: center;
}

@media screen and (max-width:767px) {
    .container-header-solution-kroco{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .titre-page-solution-kroco{
        font-size: 1.5rem;
    }

    .div-logo-solution-kroco{
        width:80%;
    }

}